.body {
    background-color: #fafafa;
}

.nav-top {
    height: 20%;
    background-color: white !important;
    border-top: 0.6px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.img-nav {
    border-radius: 100%;
    max-width: 20% !important;
    max-height: 10% !important;
}

.icons {
    padding: 4% !important;
    font-size: 100% !important;
}

.form-control {
    border-radius: .14rem !important;
    padding: 0% !important;
    background-color: #fafafa !important;
    text-align: center !important;
    font-size: 99% !important;

}

.nav-container {
    padding-left: 20% !important;
    padding-right: 20% !important;
}
.img-perfil{
    border-radius: 50%;
    max-width: 100px;
    max-height: 150px;
}


.nome-perfil{
    font-size: 28px !important;
    font-weight :300 !important;
}



.destaques{
    font-size: 15px !important;
    font-weight: 600 !important;
    padding-right: 20%;
    
    

}
@media (min-width: 200px) and (max-width:1200px) {

    .nav-container {
        padding-left: 2% !important;
        padding-right: 2% !important;
    }

    .img-nav {
        border-radius: 100%;
        max-width: 8% !important;
        max-height: 10% !important;
    }
    .icons {
        padding: 4% !important;
        font-size: 80% !important;
    }
    .img-perfil{
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
    }


    .nome-perfil{
        font-size: 16px !important;
        font-weight :300 !important;
    }


    
.destaques{
    font-size: 15px !important;
    font-weight: 600 !important;
    padding-right: 0%;
    
    

}
}



.principal{
    margin-left: 20% !important;
    margin-right: 20% !important;
}


.nome{
    font-size: 18px;
    display: inline;
    font-weight: 600;
}


.btn{
    padding: .100rem .50rem !important;
}

.descrição{
    font-size: 15px;
}


.botao{
    color: black;
    font-size: 14px;
    font-weight: 600;
    border-color: #dae1e7;
}

.nav-feed{
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.nav-link-1{
    color: #495057;
    background-color: #fafafa;
    border-color: gray #fff #fff;
    border-top-right-radius: .0rem;
    border-bottom-left-radius: .0rem;
    font-size: 12px;
    font-weight: 600;

}

.nav-link-2{
    color: #a2a8af;
    background-color: #fafafa;
    border-color: #fff #fff #fff;
    border-top-right-radius: .0rem;
    border-bottom-left-radius: .0rem;
    font-size: 12px;
    font-weight: 600;
}


.card{
    border: 0px  solid rgba(0, 0, 0, 125);
    border-radius: .0rem;

}

.card .card-img .card-img-top{
    border-bottom-left-radius:0rem ;
    border-bottom-right-radius: 0rem;

}